# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.flinks.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Concordia University - Canada\webdev course\aspNetCore\flinks\.idea\.idea.flinks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
